@(currentVersion: Long, maxVersion: Long)(implicit messages: Messages)

@main("Version history", "history") {

    <table style="width: 100%; border-spacing: 0;">
        <thead>
            <tr>
                <th>Viewing</th>
                <th>Version number</th>
                <th>Browse</th>
                <th>Revert to</th>
            </tr>
        </thead>
        <tbody>
            @for(v <- Seq.range(1, maxVersion + 1)) {
                <tr>
                    <td>@if(v == currentVersion) { * }</td>
                    <td>@v</td>
                    <td><a href="@routes.Application.selectVersion(v)">Browse</a></td>
                    <td><a href="@routes.Application.revertTo(v)">Revert to</a></td>
                </tr>
            }
        </tbody>
    </table>

}
