@import model.TranslationId
@(translations: Iterable[TranslationId])

@main("List of translations", "index") {

    <table style="width:100%; border-spacing:0;">
        <thead>
            <tr>
                <th>Code</th>
                <th>Text</th>
                <th>Language</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @for(t <- translations) {
                <tr>
                    <td>@t.code</td>
                    <td>@t.text</td>
                    <td>@t.language</td>
                    <td><a href="@routes.Application.edit(t.id)">Edit</a></td>
                    <td><a href="@routes.Application.delete(t.constantId)">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

}
